
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;500;700&family=Raleway:ital,wght@0,200;0,300;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

body {
  background-color: #F7F9FC;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.2em;
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
}

h1 {
color: black;
font-family: roboto;
margin-bottom: -0.3em;
}

h2{
  color: #6B72E1;
  font-size: 1.3em;
  font-family: raleway;
}

img {
  width: 6em;
  height: 6em;
}

a{
  text-decoration: none;
  color: blue;
}

a:hover{
  color: black
}

.container {
  width: 600px;   /* Définit la largeur */
  margin: 0 auto; /* Définit automatiquement les marges à gauche/droite */
}

.card {
  background-color: white;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  text-align: center;
  padding: 35px;
  margin: 20px 0px;
}
.card p {
  margin-bottom: 2em;
}

.img-circle {
  border-radius: 50%;
}

.img-gif{
  width: 7em;
  height: 7em;
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
 .color-btn {
  color:#575F7D;
 }

 .btn-blue {
    background-color: #6B72E1;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
 }


 @media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
